<h1>New Playlist</h1>

<!-- <div ng-controller="HomeController as ctrl"> -->

{{ ctrl.user }}
<ul ng-repeat="(name, value) in resultList track by $index">
  <li>
    <a href="" ng-click="ctrl.addChoice(value)">
        {{ name }}
<!--         <span ng-repeat="artist in value track by $index | limitTo: (1 - value.length)">
          
        </span>  -->
          
    </a>
<!--     By:
    <span ng-if"resultList.trackArtists.length !== -1" ng-repeat="artist in resultList.trackArtists[$index - 1]">
      {{ artist.name }}
    </span> -->
  </li>
</ul>

<form ng-submit="ctrl.search()">
   <div class="form-group">
      <input type="text" ng-model="ctrl.searchValue" name="searchValue" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }">
      <div class="radio">
        <label>
          <input type="radio" name="searchType" value="artist" ng-model="ctrl.searchType" required>
          Search Artists
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="searchType" value="track" ng-model="ctrl.searchType">
          Search Tracks
        </label>
      </div>
   </div> 
  <input type="submit" value="Search">
</form>

<button ng-click="ctrl.showGenres()" ng-if="genreList.length === 0">List Genres</button>
<button ng-click="ctrl.hideGenres()" ng-if="genreList.length > 0">Hide Genres</button>

<ul ng-repeat="genre in genreList"> 
  <li><a href="" ng-click="ctrl.addChoice(genre)">{{ genre }}</a></li>
</ul>

<!-- Button to trigger a default modal with a scope as an object {title:'', content:'', etc.} -->
<button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">Click to toggle modal
  <br>
  <small>(using an object)</small>
</button>

<!-- You can use a custom html template with the `data-template` attr -->
<button type="button" class="btn btn-lg btn-danger" data-animation="am-fade-and-slide-top" data-template-url="modal/docs/modal.demo.tpl.html" bs-modal="modal">Custom Modal
  <br>
  <small>(using data-template)</small>
</button>

<!-- You can use a custom html template with the `data-template` attr -->
<button type="button" class="btn btn-lg btn-success" ng-click="showModal()">Modal
  <br>
  <small>(using service)</small>
</button>

<div>
    <rzslider rz-slider-model="slider.value"
          rz-slider-options="slider.options"></rzslider>
</div>



  <!--<main-form></main-form> -->




